<h2>Your Account has been Deleted</h2>
<p>Hello <%= name %>,</p>
<p>Your account has been successfully deleted from our system.</p>
<p>If you believe this is a mistake or have any questions, please contact support.</p>
<p>Thank you for using our services.</p>